<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zylsm.mapper.MxdPictureMapper" >
  <resultMap id="BaseResultMap" type="zylsm.pojo.MxdPicture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pName" property="pName" jdbcType="VARCHAR" />
    <result column="tetal" property="tetal" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="pictureUrl" property="pictureUrl" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="grop" property="grop" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pName, tetal, price,pictureUrl,content,grop,createTime
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from MxdPicture
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zylsm.pojo.MxdPicture" >
    insert into MxdPicture (id, pName, tetal, price,pictureUrl,content,grop,createTime)
    values (#{id,jdbcType=INTEGER}, #{pName,jdbcType=VARCHAR}, #{tetal,jdbcType=VARCHAR}, 
    	#{price,jdbcType=VARCHAR}, #{pictureUrl,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{grop,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
  </insert>
  <select id="getList" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include> from MxdPicture where 1=1 order by grop desc limit #{pages},#{pageSize}
  </select>
  
  <select id="getTotal" resultType="java.lang.Integer">
  	select count(1) from MxdPicture
  </select>
</mapper>